<?php

if (!file_exists(__DIR__)) {
    exit(0);
}

// see also https://github.com/symfony/symfony/blob/master/.php_cs.dist
// configurator: https://mlocati.github.io/php-cs-fixer-configurator/

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        '@Symfony:risky' => true,
        '@PHPUnit75Migration:risky' => true,
        'php_unit_dedicate_assert' => ['target' => '5.6'],
        'array_syntax' => ['syntax' => 'short'],
        'fopen_flags' => false,
        'protected_to_private' => false,
        'combine_nested_dirname' => true,
        'phpdoc_align' => 'left',
    ])
    ->setRiskyAllowed(true)
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->in(__DIR__)
            ->append([__FILE__])
            ->notPath('#/Fixtures/#')
            ->notPath('#/vendor/#')
    )
;
